*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1#heading1{
    font-size: 30px;
    margin-bottom: 10px;
    background-color: lightsalmon;
    font-style: italic;
}
h1#heading2{
    font-size: 30px;
    margin-bottom: 10px;
    background-color: lightblue;
    font-style: oblique;
}
h1#heading3{
    font-size: 30px;
    margin-bottom: 10px;
    background-color: lightsalmon;
    font-style: bold;
}